<div>
  <h1 class="center single-article-title">
    <%= @article.title %>
  </h1>
</div>


<div class="single-article-image center">
  <%= image_tag(@article.image, class:'img-fluid') %>
</div>



<div class="article-content center">
  <p>
    <strong>By:</strong>
    <span class="article_author"><%= @article.author.name %></span>
  </p>

  <div class="article-vote">
    <span class="article-published-date"><%= @article.created_at.strftime("%Y/%m/%d") %></span>
    <%= vote_or_unvote_btn(@article) %>
  </div>

  <p class="article-body">
    <%= @article.text %>
  </p>
</div>

<div class="votes-div">
  <span class="number-of-votes"><%= @article.votes.count%> Votes</span>
</div>
