

<% unless @most_popluar_article.nil?%>
  <div class="recycler">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="<%= @most_popluar_article.image%>" class="w-100 img-fluid d-block" alt="...">
          <div class="carousel-caption d-none d-md-block color-signature-orange">
            <h5><%= link_to @most_popluar_article.title, article_path(@most_popluar_article) %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>



<section class="categories-container flex-container">
  <% @categories.each do |category| %>
    <% latest_category_article = latest_article(category)%>
    <%if !latest_category_article.nil? %>
    <div class="category-card" style="background-image: url(<%= latest_category_article.image%>)">
      <div class="card-wrapper">
        <div class="category-name"><%= link_to category.name, category_path(category.id) %></div> 
        <div class="category-latest-article-title"><%= latest_category_article.title%></div>
      </div>
    </div>
    <%end%>
  <% end %>
</section>