<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @article_category.category_id %>
</p>

<p>
  <strong>Article:</strong>
  <%= @article_category.article_id %>
</p>

<%= link_to 'Edit', edit_article_category_path(@article_category) %> |
<%= link_to 'Back', article_categories_path %>
