<!DOCTYPE html>
<html>

<head>
  <title>DevDigest</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'bootstrap.bundle.min', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>
  <% get_all_categories %>
  <header class="container-fluid">
    <div class="flex-container">
      <div class="leftie"><%= link_to (image_tag 'https://images.prismic.io/www-static/49aa0a09-06d2-4bba-ad20-4bcbe56ac507_logo.png?auto=compress,format'), root_path %></div>

      <div class="middle">
        <nav class="header-middle-nav">
          <ul class="flex-container justify-content-center">
            <% @categories.each do |category| %>
            <li><%= link_to category.name, category_path(category), class: active_link(category_path(category)) %></li>
            <% end %>
          </ul>
        </nav>
      </div>

      <div class="rightie">
        <% if !user_loggedin? %>
          <%= link_to 'LOGIN', login_path %> | <%= link_to 'REGISTER', signup_path %>
        <% else %>
          <%= link_to new_article_path, :class => 'orange_link' do %>
            <i class="material-icons">note_add</i>
          <%end%>
          <%= link_to current_user.name, user_path(current_user) %> | <%= link_to 'log out', logout_path %> 
        <% end %>        
        <i class="material-icons search-icon">search</i>
      </div>

    </div>
  </header>

  <%= yield %>

  <footer class="container-fluid">
    <div class="flex-container">
      <div class="leftie" style="logo-brand"><%= image_tag 'https://images.prismic.io/www-static/49aa0a09-06d2-4bba-ad20-4bcbe56ac507_logo.png?auto=compress,format' %></div>

      <div class="middle flex-container justify-content-center">
        <%= link_to 'Privacy Policy', url: 'www.microverse.org' %>
        <%= link_to 'Terms & Conditions', url: 'www.microverse.org' %>
        <span>Copyright 2014. All rights reserved</span>
      </div>

      <div class="rightie flex-container">

        <span>Connect with us:</span>

        <nav class="social">
          <ul class="social-ul flex-container">
            <li><a title="facebook" href="www.microverse.org" class="fb"></a></li>
            <li><a title="twitter" href="www.microverse.org" class="tw"></a></li>
            <li><a title="instagram" href="www.microverse.org" class="is"></a></li>
          </ul>
        </nav>

      </div>

    </div>
  </footer>
</body>

</html>